<div>
    <div class="header">
        <p>Name: <strong>{{player.name}}</strong></p>
        <p>Score: <strong>{{player.score}}</strong></p>
        <button class="btn btn-red" (click)="drawCardAction()" [disabled]="!player.isActive">Draw</button>
        <button class="btn btn-red" (click)="passAction()" [disabled]="isPassDisabled()">Pass</button>
    </div>

    <div>
        <div [@showCard] (@showCard.done)="onAnimationDone($event)" id="myimages" *ngFor="let card of cards">
            <img src="{{card.image}}" alt="">
        </div>
    </div>
</div>
