.title {
  padding: 200px 0px;
}

.title-desc {
  padding: 50px 0px;
}

.title-desc h3 {
  font-size: 70px;
  font-weight: bold;
  text-transform: uppercase;
  color: #f2e8cf;
}

.btn-green {
  border-width: 2px;
  border-radius: 5px;
  border-color: #f2e8cf;
  padding: 15px 25px;
  margin: 20px;
  background-color: #386641;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #f2e8cf;
  text-transform: uppercase;
}

.btn-green:hover, .btn-green:focus {
  background-color: #a7c957;
  color: #386641;
  border-color: #386641;
}
